@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Berkshire+Swash&family=Boldonse&family=Caprasimo&family=Kavoon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:black;
    overflow-x: hidden;
    overflow-y: auto;
      

}

i{
    font-size: 2.5rem;
    color: goldenrod;

}
header h1{
    font-family: Caprasimo;
    color: #93ffc7;
}
header span{
    font-family: Caprasimo;
    color:white;
}
header{
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
    z-index: 9999;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;

    color: black;
    

}
h1{
    font-weight: 520;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 38px;
    color: rgba(255, 255, 255, 0.73);
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight:500;
}
li:hover{
    color: grey;
}
a{
    all: unset;
}

li{
    list-style: none;
}
.navigation button{
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    font-size: 1rem;
    background-color:white;
    color: black;
}
.navigation button:hover{
    background-color: rgb(215, 205, 205);
}
#home{
    background-image: url("https://cdn.pixabay.com/photo/2015/03/03/22/54/meat-658029_1280.jpg");
    background-repeat: no repeat;
    backdrop-filter: brightness(0);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    font-family:Poppins ;


}
.home{
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.home h1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 5rem;
    line-height: 10px;
    margin-top: 150px;
    color: white;
}
.home span{
    color:#93ffc7;
    font-size: 5rem;
    font-weight: 600;
}
.home{
    padding-top: 60px;
}
.home p{
    color: white;
    margin-top: 20px;
}
.home button{
    padding: 15px 30px 15px 30px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-family: Poppins;
    font-size: 1rem;
    margin-top: 35px;

}
.home button:hover{
    background-color: white;
    color: black;
}
button,li:hover{
    cursor: pointer;
}
.menu{
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: black;
    color: white;
    width: 100vw;
    height: 170vh;
    justify-content: center;
    text-align: center;
}
#menu h1{
    color: gold;
    padding-top: 100px;
}
.menu i{
    color: gold;
}
.cw{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
}
.menu.container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.container{
    color: gold;
    
    width: 20%;
    height: 90%;
    border-radius: 25px;
    border: solid 3px;
}
.container h2{
    padding-top: 10px;
    font-size: 1.8rem;
    font-family: poppins;
    font-weight: 700;
    color: white;
}
.container p{
    font-size: 1rem;
    font-family: Poppins;
    font-weight:300;
}
.about{
    text-align: center;
    justify-content: center;
    align-items: center;;
    background-image: url("https://cdn.pixabay.com/photo/2021/06/28/20/53/skull-6372630_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
    
}
.about h1{
    font-family: Poppins;
    font-size: 2.5rem;
    font-weight: 600;
    color: gold;
    padding-top: 30px;
}
.about span{
    color:rgb(204, 7, 7);
    font-family: Poppins;
    font-weight: 600;
}
.para p{
    font-size: 1.5rem;
    color: white;
    font-family: Poppins;
    height: auto;
    text-align: center;

}

#about .para{
 max-width: 800px;
 margin: 0 auto;
 font-size: 1.2rem;
 color: white;
 line-height: 1.6;
 margin-top: 40px;
}
#contact{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 87vh;
    background-image: url("https://cdn.pixabay.com/photo/2022/09/13/20/14/telephone-7452802_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(0.4);
    
}
.contact h1{
    font-family: Poppins;
    font-size: 2.5rem;
    font-weight: 800;
    color: gold;
    padding-top: 100px;
    
}
.contact p{
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;

}
.contact input{
    padding: 14px;
    width: 25%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.274);
    border: none;
    font-size: 14px;
    color: white;
}
input::placeholder{
    font-family: Poppins;
}
#contact button{
    padding: 12px ;
    width: 26.5vw;
    border-radius: 20px;
    border: none;
    background-color:tomato;
    margin-top: 10px;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
}
#contact button:hover{
    background-color:rgba(255, 99, 71, 0.438);
    cursor: pointer;
}
.input1{
    margin-top: 50px;
}
.input2{
    margin-top: 10px;
}
.logo{
    padding-top: 50px;
    
}
.logo h3{
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
    
}
.logo i{
    color: white;
    font-size: 2rem;
}
.logo {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    justify-content: flex-start;
    background-color: rgb(0, 0, 0);
}

@media screen and (max-width:725px){
    html{
        scroll-behavior: smooth;
    }
    body{
    background-color:black;
    overflow-x: hidden;
    overflow-y: auto;
}
    header{
    padding: 7px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
    z-index: 9999;
}



    .navigation{
        padding: 10px;
        justify-content: space-between;
        

    }
    ul{
        display: none;
    }
    .navigation i{
        display: flex;
        font-size: 1.3rem;
    }
    .navigation h1,i,span{
        font-size: 1.5rem;
        display: flex;
    }

    .navigation button{
        text-align: end;
        font-family: Poppins;
    

    }
    .navigation button:hover{
    background-color: rgb(215, 205, 205);
}
    #home{
    background-image: url("https://cdn.pixabay.com/photo/2015/03/03/22/54/meat-658029_1280.jpg");
    background-repeat: no repeat;
    backdrop-filter: brightness(0);
    height: 85vh;
    width: 100vw;
    background-size: cover;
    font-family:Poppins ;
}
    #home h1{
    font-family: Poppins;
    font-weight: 700;
    font-size:2rem;
    line-height: 10px;
    margin-top: 70px;
    color: white;
}

.home span{
    color:#93ffc7;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}
.home button:hover{
    background-color: white;
    color: black;
}
#menu{
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: black;
    color: white;
    width: 100vw;
    height: 160vh;
    justify-content: center;
    text-align: center;
}
.container h2{
    font-size: 1.3rem;
}
.container{
    width: 50vw;
    height: 90%;
    border-radius: 25px;
    border: solid 3px;
}
.about{
    text-align: center;
    justify-content: center;
    align-items: center;;
    background-image: url("https://cdn.pixabay.com/photo/2021/06/28/20/53/skull-6372630_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    }
.about h1{
    font-family: Poppins;
    font-size: 2.5rem;
    font-weight: 600;
    color: gold;
    padding-top: 30px;
}
.about span{
    color:rgb(204, 7, 7);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
}
.para p{
    font-size: 1rem;
    color: white;
    font-family: Poppins;
    height: auto;
    text-align: start;

}

#about .para{
 max-width: 800px;
 margin: 0 auto;
 font-size: 1rem;
 color: white;
 line-height: 1.6;
 margin-top: 40px;
 margin-left: 8px;
 width: auto;
}
.contact input{
    padding: 14px;
    width: 70vw;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.274);
    border: none;
    font-size: 14px;
    color: white;
}
.contact{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-image: url("https://cdn.pixabay.com/photo/2022/09/13/20/14/telephone-7452802_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(0.4);

}
#contact h1{
    font-size: 2rem;
}
#contact p{
    font-size: 1.3rem;
}
#contact button{
    padding: 12px ;
    width: 75vw;
    border-radius: 20px;
    border: none;
    background-color:tomato;
    margin-top:15px;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
}
.logo h3{
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 1rem;
}

}
